@import './settings/_theme.styl'

app($component)

theme($component, $name)
  light($component, $name)

light($component, $name)
  .{$name}
    $component($material-light)

dark($component, $name)
  .application--dark .{$name}
    $component($material-dark)
  .application .theme--dark.{$name}
    $component($material-dark)
